@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: "Nunito Sans", sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: #f1e4b2;
    background: var(--Jameson-Green, #154734);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.checkbox:checked {
    background-color: #154734;
}

.homepage-footer-bg {
    background: url(./../public/table.svg), lightgray 0px -522.135px / 100% 2177.571% no-repeat;
    mix-blend-mode: multiply;
}

.hg-theme-default {
    background-color: transparent;
    color: black;
}

.hg-button-space {
    width: 50%;
}
